<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/signin.css">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  {{!--
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> --}}

</head>

<body>
    {{demoHelperHbs 'a'}}
  <div class="container">
    <form class="form-signin" action="/login" method="POST">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="Username" value="" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" value="" required>
      {{#if errMsg}}
      <div role="alert" class="alert alert-danger alert-dismissible">
        <button type="button" data-dismiss="alert" aria-label="Close" class="close">
          <span aria-hidden="true" class="mdi mdi-close"></span>
        </button>
        <span class="icon mdi mdi-close-circle-o"></span>
        {{ errMsg }}
      </div>
      {{/if}}

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
  <!-- /container -->

</body>

</html>