html
  head
    title= title
  body
    h1= message
    <p>I am literal html code</p>
    p I am inline text
    p
      | Hello World!
      | I am Pug, your buddy to write simple HTML templates.
      em Let's explore the world, shall we?
      | Very nice to meet you :)
    p
      | My text inside the p tag
    p.cuong#a
      Third way
  script(type='text/javascript').  
    var myVar = ‘Hello Var’;
    console.log(myVar);

