extends ./layout/layout

block content
  .container#chat-demo
    h2= 'App chat demo'
    #chat-window
      #output
      #feedback
    input#username(type='text', placeholder='Username')
    input#message(type='text', name='message', placeholder='Message')
    button#send Send
  

