doctype html
html
  head
    title #{title}

    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")

    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet")
    link(href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

    script(src="/js/chat.js")

  body

    block content
    block scripts